name: Python Application Workflow

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: install dependencies
      run: pip install -r requirements.txt
    - name: Run tests 
      run: pytest
    - name: install pandas
      run: pip install pandas
    - name: pip install numpy
      run: pip install numpy
    
